<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <div class="text-justify">
                        <p><i>Digital Heraldry</i> is a research project in the field of Digital History, adopting methods from computer science to enhance research in historical studies.</p>
<p>Coats of arms were the most common visual medium of the Middle Ages and Early Modern times. They could mark and communicate territorial dominion, societal rank as well as family or other group identity. They interconnected individual persons, social groups, dominions and artefacts. Coats of arms  appeared in handwritten medieval manuscripts and official documents as well on wall paintings, carvings, stained glass and seals. They could either be displayed as images or as accurate textual descriptions. Thereby coats of arms acted as a fundamental medium of medieval and ealry modern communication. It’s study is essential in widening our understanding of cultures and societies on the European continent in the premodern era.</p>
<p>Nevertheless coats of arms have been mostly overlooked or even ignored in their relevance by historiographic research. This seems inevitable, considering the reasons for this: Firstly, the historian is confronted with a vast amount of coats of arms. Secondly, the places were coats of arms can be found, as well as their contexts of usage are very different and heterogenous. And finally, heraldry in itself, with its rules of design and its quais-semiotic system adds an additional layer of complexity to coats of arms as a historic source.</p>
<p>The project <i>Digital Heraldry</i> aims to adress these shortcomings by connecting historical research questions, competences in historical auxillary sciences and methods from computer science. The goal is, firstly, to collect digitized historical sources as unstructured data (in the form of images and texts) and secondly enabling the semi-automatical description and identification of coats of arms. To achieve this, methods of Machine Learning and Semantic Web Technologies are being used.</p>
<p>In doing so, the project is not only working on enhancing historical and cultural studies, but also utilizes it’s unique and extensive material to further develope methods of computer science.</p>
<p><i>Digital Heraldry</i> is coordinated by the university chair of Digital History at the Humboldt-University of Berlin.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
        </div>
    </section>