<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/digital-history">
                        <img src="img/logos/logohiltmann2_transp_black_small.png" class="img-responsive img-centered" alt="Logo of the professorship of Digital History Berlin">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/digital-history">
                        <img src="img/logos/logo_hu.jpg" class="img-responsive img-centered" alt="Logo of the Humboldt-Universität zu Berlin">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.volkswagenstiftung.de/">
                        <img src="img/logos/logo_volkswagenstiftung.png" class="img-responsive img-centered" alt="Logo of the Volkswagenstiftung">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.uni-muenster.de/Informatik.AGRisse/index.shtml">
                        <img src="img/logos/logo_wwu.jpg" class="img-responsive img-centered" alt="Logo of the University of Münster">
                    </a>
                </div>
            </div>
        </div>
    </aside>