<section id="ontology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Digital Heraldry Ontology</h2>
                    <h3 class="section-subheading text-muted">
                        The Digital Heraldry Ontology consists of multiple models and datasets. You can access the data and documentation from here.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Heraldry</h4>
                    <p>
                        The Digital Heraldry Ontology enables the encoding of coats of arms, based on the practices of blazoning. This is done by regarding coats of arms as conceptual objects (rather than images or textual representations), composed in a specific way of figures, tinctures, and geometric patterns. In this way, any combination of coats of arms can be created in a machine-readable way. Thereby, the ontology can be used as a controlled vocabulary to annotate and semantically describe coats of arms e.g. on different material objects, which then can be uniquely referenced as Linked Data.
                    </p>
                    <p>
                        Documentation and Download: <a href="https://www2.hu-berlin.de/digital-heraldry-ontology/heraldry/documentation/index-en.html">http://digitalheraldry.org/digital-heraldry-ontology/heraldry</a>
                    </p>
                    <p>
                        Current Version: 0.1.0
                    </p>
                    <h4>Blazon</h4>
                    <p>
                        This dataset contains descriptions of coats of arms, structured with the <a href="https://www2.hu-berlin.de/digital-heraldry-ontology/heraldry/documentation/index-en.html">heraldry</a> ontology. Each description has an URI as a unique identifier. They can be used to assign representations of coats of arms in images or texts to a heraldic description, structured by the Digital Heraldry Ontology.
                    </p>
                    <p>
                        <a href="https://www2.hu-berlin.de/digital-heraldry-ontology/blazon/coats-of-arms-descriptions.ttl">Download RDF turtle representation</a>
                    </p>
                    <p>
                        <a href="https://www2.hu-berlin.de/digital-heraldry-ontology/blazon/coats-of-arms-descriptions.jsonld">Download RDF JSON-LD representation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
